<% include partials/header %>

<h1> Welcome to MasterCS </h1>
<p>Let's Master Computer Science Graduate Programs!</p>
<a href="/universities"> View All Universities </a>

<% include partials/footer %>