<% include ../partials/header %>
    
    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1>Wecome to MasterCS!</h1>
                <p>Make the most of Your Computer Science Master Program!</p>
                <p>
                    <a class="btn btn-primary btn-lg" href="/universities/new">Add New Computer Science Program</a>
                </p>
            </div>
        </header>


        <div class="row text-center" style="display:flex; flex-wrap: wrap;">
            <% universities.forEach(function(university) { %>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <img src="<%= university.image %>", style="max-width: 100%; max-height: 100%; background-position: center center;">
                        <div class="caption">
                            <h4><%= university.name %></h4>
                        </div>
                        <p>
                            <a href="/universities/<%= university._id %>" class="btn btn-primary">More Info</a>
                        </p>
                    </div>
                </div>
            <% }); %>
        <div>
    </div>

<% include ../partials/footer %>
